.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 100000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--text);
  transform: scaleX(0);
  transform-origin: left;
}

.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-title {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  color: burlywood !important;
}

.hero-title .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-title h1 {
  position: relative;
  color: gray;
  transform: translateY(70px);
  will-change: transform;
}

@media (max-width: 900px) {
  .hero-title {
    width: 90%;
  }
}
